ul {
    list-style: none;
    padding: 0;
} 

#content {
	background-color: #FFF;
}

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
}

.bs-callout-info {
    border-left-color: #5BC0DE;
}

.revision {text-align: center;}

.screenshot img, img.screenshot {
	border: 1px solid #ccc;
	width: 100%;
	margin-bottom: 80px;
}